---
layout: archive
title: "Tutoring Services"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<br>
I began tutoring officially as university employee during my undergraduate studies in 2017 and I enjoyed it so
much I haven't stopped! I've worked with students at the high school, undergraduate, and graduate levels. If you're
a high school student looking for tutoring I offer AP Calculus, AP Physics, AP Statistics, and SAT Math prep.
<br>
If you are an undergraduate student I can assist you with any physics or mathematics course, including calculus,
linear algebra, differential equations, and statistics. I can also help with introductory computer science courses
and programming in Python. If you are looking for test prep, I specialize in GRE and GMAT quantitative sections,
and I come with a perfect score on the GRE quantitative section and a lot of enthusiasm!
<br>
I offer tutoring services in person in the NYC area, and online via Zoom. Don't hesitate to reach out if you
are curious about what tutoring can do for you and your GPA, catch me at:
matthewprestnz@gmail.com.
<br>

{% for post in site.portfolio %}
{% include archive-single.html %}
{% endfor %}