<div class="page__footer-follow" style="text-align:center; padding:0.5em 0; font-size:0.9em;">
  <a href="{{ site.baseurl }}/topics/">Topics</a> &middot;
  <a href="{{ site.baseurl }}/quantum-101/">Quantum 101</a> &middot;
  <a href="{{ site.baseurl }}/now/">Now</a> &middot;
  <a href="{{ site.baseurl }}/feed.xml" title="Posts feed">Posts RSS</a> &middot;
  <a href="{{ site.baseurl }}/publications.xml" title="Publications feed">Publications RSS</a> &middot;
  <a href="{{ site.baseurl }}/quantum-radar.xml" title="Quantum Radar feed">QR RSS</a>
</div>
<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} &middot; built with <a href="https://github.com/academicpages/academicpages.github.io" rel="nofollow">AcademicPages</a>.
</div>
